.page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 5rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.content {
  width: 65%;

  hr {
    margin: 0.25rem 0;
  }
}
.summary-container {
  width: 25%;
  margin-top: 1.5rem;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-width: 70em) {
  .page {
    flex-direction: column;
    max-width: 65em;
    margin: 0 auto;
    padding: 3rem 2rem;
  }

  .content {
    width: 100%;
  }

  .summary-container {
    margin-top: 3rem;
    width: 100%;
    max-width: 30rem;
  }
}

@media (max-width: 40em) {
  .page {
    padding: 3rem 1rem;
  }
}
@media (max-width: 29em) {
  .actions {
    flex-direction: column;
    gap: 0.5rem;
    button {
      font-size: 1rem;
    }
  }
}
