.content {
  width: 70%;

  hr {
    margin: 0.25rem 0;
  }
}
.summary-container {
  width: 20%;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-width: 1024px) {
  .content {
    width: 100%;
  }
  .summary-container {
    width: 60%;
    margin-top: 2rem;
  }
}
