.page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 5rem;
}

@media (max-width: 70em) {
  .page {
    flex-direction: column;
    max-width: 65em;
    margin: 0 auto;
    padding: 3rem 2rem;
  }
}

@media (max-width: 40em) {
  .page {
    padding: 3rem 1rem;
  }
}
