.form {
  width: 60%;
  margin-bottom: 2rem;
  h2 {
    margin: 1.5rem 0;
    text-align: center;
  }

  .required:after {
    content: " *";
    color: red;
  }
  .legend:before {
    content: " *";
    color: red;
  }
}

@media (max-width: 1024px) {
  .form {
    width: 90%;
  }
}
