@import "../../styles/colors.scss";

.header {
  height: 5rem;
  background-color: $gray-darker;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;

  .logo {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    a {
      color: #ffc107;
      display: block;
      text-decoration: none;
      font: inherit;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
  .logo:hover {
    cursor: pointer;
  }

  .main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      list-style: none;
      padding: 0;
      margin: 0;

      li a,
      li button {
        text-decoration: none;
        color: $gray-light;
        padding: 0.4rem 0.5rem;
        border-radius: 8px;
        transition: all 0.2s ease-out;
      }

      li a:hover,
      li button:hover {
        background-color: $gray-darkest;
      }
      li button {
        background-color: transparent;
        border: none;
      }

      .cart-icon {
        padding: 0.75rem;
        border-radius: 50%;
      }
    }

    .general-nav {
      grid-column: 2/3;
    }

    .user-nav {
      justify-content: flex-end;
    }
  }

  .toggle-button {
    display: none;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 200;

    &__bar {
      width: 100%;
      height: 0.2rem;
      background: $gray-light;
      display: block;
      margin: 0.6rem 0;
      transition: all 0.2s;
    }

    &:focus &_bar {
      outline: none;
    }
  }
}

@media (max-width: 47.5em) {
  .header {
    padding: 1rem;
    .logo {
      left: 50%;
      a {
        font-size: 2rem;
      }
    }
    .main-nav {
      display: none;
    }
    .toggle-button {
      display: block;
    }
  }
}
