@import "../../styles//colors.scss";

.mobile-nav {
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 150;
  background: $gray-darkest;
  height: 100vh;
  width: 80%;
  max-width: 80% !important;

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 20% auto;
    gap: 1.25rem;

    li {
      .btn-logout {
        font-size: 1.5rem;
        background-color: transparent;
        color: $gray-light;
        border: none;
      }
      a {
        font-size: 1.5rem;
        color: $gray-light;
        text-decoration: none;
      }
    }
  }
  .btn-close {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    color: $gray-light;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
  }
}

.slide-enter {
  transform: translateX(-100%);
}
.slide-enter-active {
  transform: translateY(0);
  transition: transform 200ms;
}
.slide-exit {
  transform: translateY(0);
}
.slide-exit-active {
  transform: translateX(-100%);
  transition: transform 200ms;
}
