@import "../../../styles/colors.scss";
.sizes {
  margin-top: 2rem;
  display: flex;
  align-items: center;

  button:last-child {
    border-right: 1px solid $gray-darker;
  }
}

.price-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .price {
    font-size: 3rem;
    margin: 1rem 0;
    margin-right: 4rem;
  }
}

.operations {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-top: 2rem;

  .amount {
    font-size: 1.3rem;
    line-height: 2.5rem;
    margin: 0;
    padding: 0;
    width: 3rem;
    text-align: center;
  }
}

.btn-cta {
  background-color: $gray-darker;
  display: block;
  color: $gray-light;
  min-width: 20rem;
  border: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-out;
  margin-top: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 2px $gray-darker;
}
.btn-cta:hover {
  background-color: $gray-darkest;
  box-shadow: none;
}
.disabled {
  cursor: not-allowed;
}
.disabled:hover {
  background-color: $gray-darker;
  box-shadow: 0 0 2px $gray-darker;
}

@media (max-width: 767px) {
  .product {
    display: flex;
    flex-direction: column;
    & > div:last-of-type {
      order: -1;
    }
  }
  .btn-cta {
    width: 100%;
  }
}
