.shop-page {
  padding: 2rem 5rem;
}
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.product-list {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 2.75rem 2rem;
  flex-wrap: wrap;
}

@media (max-width: 63em) {
  .shop-page {
    padding: 2rem 1.5rem;
  }
  .content {
    flex-direction: column;
  }
}
