@import "../../styles//colors.scss";
.card {
  width: 300px;
  margin: 0.75rem;
  height: 450px;
  padding: 0;
  position: relative;
  margin-bottom: 1.5rem;
  overflow: hidden;
  border: 1px solid transparent;

  .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem;
  }
  .visible {
    display: block !important;
  }
}

.card:hover {
  border: 1px solid $gray-darkest;
}

@media (max-width: 1024px) {
  .card {
    border: 1px solid $gray-darkest;

    button {
      display: block !important;
    }
  }
}
