@import "../../styles//colors.scss";
.card {
  width: 300px;
  height: 530px;
  padding: 0;
  position: relative;
  margin-bottom: 1.5rem;
  overflow: hidden;


  .info {
    padding: 0.5rem;
  }

  .badges {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.card:hover {
  border: 1px solid $gray-darkest;
}
