@import "../../styles/colors.scss";

.btn {
  font-family: Helvetica;
  line-height: 1.5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 8.5rem;
  background-color: rgba($gray-darkest, 0.1);
  height: 100%;
  transition: all 0.15s ease-out;

  &:focus {
    outline: none;
  }
}

.add {
  border-radius: 0 100px 100px 0;
}
.remove {
  border-radius: 100px 0 0 100px;
}
.btn:hover {
  background-color: rgba($gray-darkest, 0.3);
}

@media (max-width: 40em) {
  .btn {
    width: 50%;
    border-radius: 2px;
  }
}
