@import "../../styles/colors.scss";
.remove {
  transition: all 0.2s ease-out;
  min-width: 2rem !important;

  &:hover,
  &:focus {
    transform: scale(1.2);
    cursor: pointer;
    outline: none;
  }
}

@media (max-width: 40em) {
  .remove {
    display: none;
  }
}
