.checkout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;

  .cart-checkout {
    margin-top: 1rem;
    width: 38%;
  }
}

@media (max-width: 64em) {
  .checkout {
    flex-direction: column;
    align-items: center;
    .cart-checkout {
      margin: 2rem 0;
      width: 90%;
    }
  }
}
@media (max-width: 29em) {
  .checkout {
    button,
    a {
      width: 100%;
      font-size: 1.1rem;
    }
  }
}
