@import "../../styles/colors.scss";

.final-prompt {
  height: 12rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
