@import "../../styles/colors.scss";
.intro {
  position: relative;
  color: $gray-light;
}

.prompt {
  position: absolute;
  padding: 2rem;
  width: 32rem;
  top: 25%;
  left: 5%;
  overflow: hidden;

  h1 {
    font-size: 2.7rem;
    font-weight: 300;
    span {
      font-weight: 600;
      color: $color-primary;
    }
  }

  .description {
    font-size: 1.2rem;
    color: rgba($gray-light, 0.75);
    margin-bottom: 1.5rem;
  }
}

.img {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.btn {
  font: inherit;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  background-color: transparent;
  border: 2px solid $color-primary;
  cursor: pointer;
  display: inline-block;
  color: $color-primary;
  letter-spacing: 1px;
  font-size: 0.9rem;
  border-radius: 4px;
  transition: all 0.2s;
  text-transform: uppercase;
  font-weight: 600;

  &:focus {
    outline: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    background-color: $color-primary;
    color: $gray-darker;
  }
  &:active {
    transform: translateY(-2px);
  }
}

@media (max-width: 75em) {
  .prompt {
    top: 20%;
    left: 0;

    .description {
      width: 90%;
    }
  }

  .img {
    .overlay {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

@media (max-width: 40rem) {
  .img {
    display: none;
  }
  .intro .prompt {
    position: static;
    width: 100%;
    background: rgb(92, 92, 92);
    text-align: center;
    padding: 2rem;
    p {
      width: 100% !important;
      margin: 1rem 0;
    }
    a {
      background-color: $color-primary;
      color: $gray-darkest;
    }
  }
}
