@import "../../styles/colors.scss";
.cart-item {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 2fr 1fr 1fr;
  align-items: center;
  justify-items: start;
  gap: 2rem;
  height: 9rem;

  h5,
  h6 {
    margin: 0;
  }
}

.img {
  min-width: 7.5rem;
  max-width: 7.5rem;
  transition: all 0.25s;
  justify-self: start;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}

.title {
  .size {
    opacity: 0.5;
    margin-top: 0.25rem;
  }
}

.total {
  text-align: center;
  color: $color-primary-dark;
  font-size: 1.3rem;
}

.total-label {
  display: none;
}

.per-item {
  display: none;
}

.price {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 40em) {
  .cart-item {
    grid-template-columns: min-content 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    margin-bottom: 3rem;
    gap: 0 2rem;
  }

  .img {
    grid-row: 1/3;
  }

  .select {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .total-label {
    display: inline;
    color: rgba($gray-darker, 0.7);
    font-size: 1rem;
  }
  .per-item {
    display: inline;
    font-size: 0.9rem;
  }
}

@media (max-width: 23em) {
  .cart-item {
    gap: 0 1rem;
  }
}
