// $color-primary: #22d3ee;
$color-primary: #ffc107;
$color-primary-dark: #d97706;
$color-primary-darkest: #633502;
$gray-light: #fff;
$gray-darker: #303030;
$gray-darkest: #101010;
$danger: #c21423;
$color-green: #198754;
